{% extends 'admin/base.html' %}
{% load i18n %}
 {% block usertools %}
        {% if has_permission %}
        <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu&display=swap" rel="stylesheet">
        <div id="user-tools" style="color: black!important;">
            <div>
                {% block welcome-msg %}
                    <div style="font-size: 150%; padding: 0.3rem; text-transform: none">
                        {% trans 'Namah Shivaya ' %}
                        <strong>@{% firstof user.get_short_name user.get_username %}</strong> !
                    </div>
                {% endblock %}
                {% block userlinks %}
                    {% if site_url %}
{#                        <a href="">{% trans 'View site' %}</a> /#}
                    {% endif %}
                        /
                    {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                    {% endif %}
                    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}
            </div>
        </div>
        {% endif %}
        {% endblock %}

{% block footer %}
    <style>
        #footer
        {
            text-align: center;
            padding: 2rem;
            background: #eee;
        }
    </style>
    <div id="footer">
        made by manneri
    </div>
{% endblock %}